{% extends "base_layout.twig" %}


{% block content %}
    <h2>MetroTicket Administration</h2>
    <body>
    <div class="container marketing">
        <div class="row">
            <div class="span4">
                <img class="img-circle" data-src="holder.js/140x140">
                <h2>Ticket Management</h2>
                <p></p>
                <p><a class="btn" href="{{ prefix }}/admin/ticket">Ticket Management&raquo;</a></p>
            </div>
            <div class="span4">
                <img class="img-circle" data-src="holder.js/140x140">
                <h2>Zone Management</h2>
                <p></p>
                <p><a class="btn" href="{{ prefix }}/admin/zone">Zone Management &raquo;</a></p>
            </div>
        </div>
    </div>
    </body>

{% endblock content %}
