{% extends "base_layout.twig" %}


{% block content %}

    <style>
    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
    text-align: center;
    }
    .marketing h2 {
    font-weight: normal;
    }
    .marketing .span4 p {
    margin-left: 10px;
    margin-right: 10px;
    }
    </style>

    <body>
    <!-- Marketing messaging and featurettes
  ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="span4">
                <img class="img-circle" data-src="holder.js/140x140">
                <h2>Ticket Management</h2>
                <p></p>
                <p><a class="btn" href="../admin/ticket">Ticket Management&raquo;</a></p>
            </div><!-- /.span4 -->
            <div class="span4">
                <img class="img-circle" data-src="holder.js/140x140">
                <h2>Zone Management</h2>
                <p></p>
                <p><a class="btn" href="../admin/zone">Zone Management &raquo;</a></p>
            </div><!-- /.span4 -->
        </div><!-- /.row -->
    </div>
    </body>

{% endblock content %}
