{% extends "base_layout.twig" %}

{% block content %}
<h2>About Us</h2>

<body>
We are a partner of the Metro Line that allows customers to purchase metro tickets online for your convenience.<br>

</body>

{% endblock content %}
