{% extends "base_layout.twig" %}

{% block content %}
<h3>About Us</h3>

<body>
We are a partner of the Metro Line that allows customers to purchase metro tickets online for your convinience.<br>


</body>

{% endblock content %}
