{% extends "base_layout.twig" %}

{% block content %}
<h3>Contact Us</h3>

<body>
Contact us by the following methods:<br>
Tel No: 0123456778<br>
Email: metroticket@gmail.com


</body>

{% endblock content %}
