{% extends "base_layout.twig" %}

{% block content %}
<h2>Contact Us</h2>

<body>
Contact us by the following methods:<br>
Tel No: 0123456778<br>
Email: metroticket@gmail.com


</body>

{% endblock content %}
