{% extends "base_layout.twig" %}

{% block content %}
<h3> {{ pageTitle }} </h3>
<body>Welcome to metroticket website. This is the best website to purchase tickets.</body>
<br>
    {#<a href="user/addAdmin">Add Admin</a>#}
<br>
{% endblock content %}
