{% extends "base_login.twig" %}
 {% block content %}
 <body onload="resetLoginError()">
      <form class="form-signin" method="POST" action="./userLogin">
        <h2 class="form-signin-heading">Please login in</h2>
        <input type="email" id="inputEmail" name="inputEmail" placeholder="Username" required>
        <input type="password" id="inputPassword" name="inputPassword" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <div class="control-group error">
        	<span class="label label-important">{{ loginError }}</span>
  		</div>
  		<div class="form-actions">
        	<button class="btn btn-large btn-primary" type="submit" action="resetLoginError()">Sign in</button>
        	<a href="./userRegister" class="btn btn-large btn-primary">Sign Up</a>
         </div>
      </form>
</body>
<script type="text/javascript" src="/resources/events.js"></script>
<script>
function resetLoginError()
{
 	{% set loginError = ''  %}
	return true;
};
 </script>
{% endblock %}